body {
    background-color: #fcf0f7;
}

header {
    background-color: #e9b7d3;
    padding: 12px;
    text-align: center;
    color: rgb(88, 50, 97);
}

footer {
    background-color: #e9b7d3;
    padding: 12px;
    text-align: center;
    color: rgb(88, 50, 97);
}

.waah {
    color: rgb(53, 53, 66);
    padding: 12px;
}

.text1 {
    color: rgb(88, 50, 97);
    padding: 12px;
}